RewriteEngine On
RewriteBase /

# Prevent directory browsing
DirectoryIndex index.php index.html

# Block access to sensitive files
<FilesMatch "^\.env|composer\.(json|lock)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Rewrite all requests to index.php?path=... if file or directory doesn't exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?path=$1 [QSA,L]